# 数据处理工具的使用

# pandas

> 这是一个可以用来读取与处理csv文件（目前只涉及到了这个功能）

In [184]:
import pandas as pd
import numpy as np

##### pd.read_csv获得的是一个dataframe对象。该对象是一个“表格”对象，可以直接输出，空白处为NAN值

In [185]:
data_frame = pd.read_csv("../datas/csvTest/readTest.csv")  #  ../是上级目录

In [186]:
data_frame

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status
0,584883,4200,4200,4125.000000,36 months,12.53,140.56,B,B5,dominos,2 years,RENT,30000,Not Verified,9-Dec,Fully Paid
1,613793,15000,15000,14976.421820,36 months,14.96,519.70,D,D2,Abbott Laboratories,2 years,MORTGAGE,96000,Verified,10-Feb,Fully Paid
2,679182,8000,8000,7848.777026,60 months,11.12,174.42,B,B3,Allstate Insurance,10+ years,MORTGAGE,60000,Not Verified,10-Jun,Fully Paid
3,710450,24000,24000,24000.000000,60 months,18.84,620.47,E,E2,Correctional Officer,10+ years,MORTGAGE,84996,Source Verified,15-May,Current
4,930120,8000,8000,8000.000000,60 months,16.49,196.64,D,D3,Edwards Lifesciences,5 years,OWN,84875,Source Verified,11-Jun,Current
5,1046913,7500,7500,7475.000000,36 months,5.99,228.14,A,A2,UFCW Local 27,10+ years,OWN,50000,Not Verified,11-Aug,Fully Paid
6,1191450,28000,28000,27975.000000,60 months,22.35,778.92,F,F5,Apex,1 year,MORTGAGE,143000,Verified,12-Jan,Charged Off
7,1509127,35000,35000,35000.000000,36 months,14.30,1201.33,C,C1,NaN,4 years,RENT,150000,Verified,13-Dec,Fully Paid
8,1696881,6400,6400,6400.000000,36 months,7.90,200.26,A,A4,715 Restaurant,2 years,RENT,24000,Not Verified,12-Oct,Fully Paid
9,2558509,3500,3500,3500.000000,36 months,6.03,106.53,A,A1,ABHOW,< 1 year,RENT,35000,Not Verified,12-Nov,Fully Paid
10,3729662,20000,20000,19950.000000,60 months,17.77,505.37,D,D1,graham-windham,9 years,RENT,81000,Verified,13-Jan,Fully Paid

##### 获取列

In [187]:
print(data_frame["member_id"] )#通过列名索引
data_frame["loan_amnt"][1] #获取单个元素

0      584883
1      613793
2      679182
3      710450
4      930120
5     1046913
6     1191450
7     1509127
8     1696881
9     2558509
10    3729662
Name: member_id, dtype: int64

15000

In [188]:
print(data_frame[["member_id","loan_amnt"]]) #获取多列,注意不能用数字索引哦

    member_id  loan_amnt
0      584883       4200
1      613793      15000
2      679182       8000
3      710450      24000
4      930120       8000
5     1046913       7500
6     1191450      28000
7     1509127      35000
8     1696881       6400
9     2558509       3500
10    3729662      20000

##### 获取行（注意：loc是索引在读取时的左侧的编号，iloc是索引绝对编号（行数））

In [189]:
test = data_frame[1:3]
print(test) #通过数字索引行
print("----------------------------------------------------------------")
print(data_frame[:0]) #首先不能直接通过数字索引，其次用数字时第一行（名字那行）是要计数的

   member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  int_rate  \
1     613793      15000        15000     14976.421820   36 months     14.96
2     679182       8000         8000      7848.777026   60 months     11.12

   installment grade sub_grade            emp_title emp_length home_ownership  \
1       519.70     D        D2  Abbott Laboratories    2 years       MORTGAGE
2       174.42     B        B3   Allstate Insurance  10+ years       MORTGAGE

   annual_inc verification_status issue_d loan_status
1       96000            Verified  10-Feb  Fully Paid
2       60000        Not Verified  10-Jun  Fully Paid
----------------------------------------------------------------
Empty DataFrame
Columns: [member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status]
Index: []

In [190]:
print(test["member_id"]) #得到的还是一个dataframe

1    613793
2    679182
Name: member_id, dtype: int64

In [191]:
test = data_frame.loc[1] #获取出第一行的各值
print(test) 
print(test[1])

member_id                           613793
loan_amnt                            15000
funded_amnt                          15000
funded_amnt_inv                    14976.4
term                             36 months
int_rate                             14.96
installment                          519.7
grade                                    D
sub_grade                               D2
emp_title              Abbott Laboratories
emp_length                         2 years
home_ownership                    MORTGAGE
annual_inc                           96000
verification_status               Verified
issue_d                             10-Feb
loan_status                     Fully Paid
Name: 1, dtype: object
15000

In [192]:
test = data_frame.loc[1:3] #取出多行,可以对比一下直接索引，这是不计第一行（名字那行）的
print(test)

   member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  int_rate  \
1     613793      15000        15000     14976.421820   36 months     14.96
2     679182       8000         8000      7848.777026   60 months     11.12
3     710450      24000        24000     24000.000000   60 months     18.84

   installment grade sub_grade             emp_title emp_length  \
1       519.70     D        D2   Abbott Laboratories    2 years
2       174.42     B        B3    Allstate Insurance  10+ years
3       620.47     E        E2  Correctional Officer  10+ years

  home_ownership  annual_inc verification_status issue_d loan_status
1       MORTGAGE       96000            Verified  10-Feb  Fully Paid
2       MORTGAGE       60000        Not Verified  10-Jun  Fully Paid
3       MORTGAGE       84996     Source Verified  15-May     Current

In [193]:
test = data_frame.loc[[1,4]] #通过行名索引出不连续的行
print(test)

   member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  int_rate  \
1     613793      15000        15000      14976.42182   36 months     14.96
4     930120       8000         8000       8000.00000   60 months     16.49

   installment grade sub_grade             emp_title emp_length  \
1       519.70     D        D2   Abbott Laboratories    2 years
4       196.64     D        D3  Edwards Lifesciences    5 years

  home_ownership  annual_inc verification_status issue_d loan_status
1       MORTGAGE       96000            Verified  10-Feb  Fully Paid
4            OWN       84875     Source Verified  11-Jun     Current

In [194]:
test = data_frame.iloc[1]
print(test)

member_id                           613793
loan_amnt                            15000
funded_amnt                          15000
funded_amnt_inv                    14976.4
term                             36 months
int_rate                             14.96
installment                          519.7
grade                                    D
sub_grade                               D2
emp_title              Abbott Laboratories
emp_length                         2 years
home_ownership                    MORTGAGE
annual_inc                           96000
verification_status               Verified
issue_d                             10-Feb
loan_status                     Fully Paid
Name: 1, dtype: object

In [195]:
print(data_frame.at[5,"member_id"])  #直接通过“坐标位置”进行索引
print(data_frame.iat[5,0])  #直接通过纯粹的坐标进行索引

1046913
1046913

##### 填补NAN值项

In [196]:
print(data_frame["emp_title"][7])

nan

In [197]:
data_frame = data_frame.fillna(1)
print(data_frame["emp_title"][7])

1

##### 删除

In [198]:
data_frame = data_frame.drop([6,8],axis=0) #删除第6行和第8行，维度为0
print(data_frame)

    member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  int_rate  \
0      584883       4200         4200      4125.000000   36 months     12.53
1      613793      15000        15000     14976.421820   36 months     14.96
2      679182       8000         8000      7848.777026   60 months     11.12
3      710450      24000        24000     24000.000000   60 months     18.84
4      930120       8000         8000      8000.000000   60 months     16.49
5     1046913       7500         7500      7475.000000   36 months      5.99
7     1509127      35000        35000     35000.000000   36 months     14.30
9     2558509       3500         3500      3500.000000   36 months      6.03
10    3729662      20000        20000     19950.000000   60 months     17.77

    installment grade sub_grade             emp_title emp_length  \
0        140.56     B        B5               dominos    2 years
1        519.70     D        D2   Abbott Laboratories    2 years
2        174.42     B        B3    Allstate Insurance  10+ years
3        620.47     E        E2  Correctional Officer  10+ years
4        196.64     D        D3  Edwards Lifesciences    5 years
5        228.14     A        A2         UFCW Local 27  10+ years
7       1201.33     C        C1                     1    4 years
9        106.53     A        A1                 ABHOW   < 1 year
10       505.37     D        D1        graham-windham    9 years

   home_ownership  annual_inc verification_status issue_d loan_status
0            RENT       30000        Not Verified   9-Dec  Fully Paid
1        MORTGAGE       96000            Verified  10-Feb  Fully Paid
2        MORTGAGE       60000        Not Verified  10-Jun  Fully Paid
3        MORTGAGE       84996     Source Verified  15-May     Current
4             OWN       84875     Source Verified  11-Jun     Current
5             OWN       50000        Not Verified  11-Aug  Fully Paid
7            RENT      150000            Verified  13-Dec  Fully Paid
9            RENT       35000        Not Verified  12-Nov  Fully Paid
10           RENT       81000            Verified  13-Jan  Fully Paid

##### 插入数据

In [211]:
data_frame.insert(0,"say","Hello")  #第一个为第几列，第二个是名字
data_frame

,say,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status
0,Hello,584883,4200,4200,4125.000000,36 months,12.53,140.56,B,B5,dominos,2 years,RENT,30000,Not Verified,9-Dec,Fully Paid
1,Hello,613793,15000,15000,14976.421820,36 months,14.96,519.70,D,D2,Abbott Laboratories,2 years,MORTGAGE,96000,Verified,10-Feb,Fully Paid
2,Hello,679182,8000,8000,7848.777026,60 months,11.12,174.42,B,B3,Allstate Insurance,10+ years,MORTGAGE,60000,Not Verified,10-Jun,Fully Paid
3,Hello,710450,24000,24000,24000.000000,60 months,18.84,620.47,E,E2,Correctional Officer,10+ years,MORTGAGE,84996,Source Verified,15-May,Current
4,Hello,930120,8000,8000,8000.000000,60 months,16.49,196.64,D,D3,Edwards Lifesciences,5 years,OWN,84875,Source Verified,11-Jun,Current
5,Hello,1046913,7500,7500,7475.000000,36 months,5.99,228.14,A,A2,UFCW Local 27,10+ years,OWN,50000,Not Verified,11-Aug,Fully Paid
7,Hello,1509127,35000,35000,35000.000000,36 months,14.30,1201.33,C,C1,1,4 years,RENT,150000,Verified,13-Dec,Fully Paid
9,Hello,2558509,3500,3500,3500.000000,36 months,6.03,106.53,A,A1,ABHOW,< 1 year,RENT,35000,Not Verified,12-Nov,Fully Paid
10,Hello,3729662,20000,20000,19950.000000,60 months,17.77,505.37,D,D1,graham-windham,9 years,RENT,81000,Verified,13-Jan,Fully Paid

In [214]:
data_frame=data_frame.drop(["say"],axis=1)

In [215]:
data_frame

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status
0,584883,4200,4200,4125.000000,36 months,12.53,140.56,B,B5,dominos,2 years,RENT,30000,Not Verified,9-Dec,Fully Paid
1,613793,15000,15000,14976.421820,36 months,14.96,519.70,D,D2,Abbott Laboratories,2 years,MORTGAGE,96000,Verified,10-Feb,Fully Paid
2,679182,8000,8000,7848.777026,60 months,11.12,174.42,B,B3,Allstate Insurance,10+ years,MORTGAGE,60000,Not Verified,10-Jun,Fully Paid
3,710450,24000,24000,24000.000000,60 months,18.84,620.47,E,E2,Correctional Officer,10+ years,MORTGAGE,84996,Source Verified,15-May,Current
4,930120,8000,8000,8000.000000,60 months,16.49,196.64,D,D3,Edwards Lifesciences,5 years,OWN,84875,Source Verified,11-Jun,Current
5,1046913,7500,7500,7475.000000,36 months,5.99,228.14,A,A2,UFCW Local 27,10+ years,OWN,50000,Not Verified,11-Aug,Fully Paid
7,1509127,35000,35000,35000.000000,36 months,14.30,1201.33,C,C1,1,4 years,RENT,150000,Verified,13-Dec,Fully Paid
9,2558509,3500,3500,3500.000000,36 months,6.03,106.53,A,A1,ABHOW,< 1 year,RENT,35000,Not Verified,12-Nov,Fully Paid
10,3729662,20000,20000,19950.000000,60 months,17.77,505.37,D,D1,graham-windham,9 years,RENT,81000,Verified,13-Jan,Fully Paid

In [218]:
temp = data_frame.pop("member_id")#pop
print(temp)

0      584883
1      613793
2      679182
3      710450
4      930120
5     1046913
7     1509127
9     2558509
10    3729662
Name: member_id, dtype: int64

In [219]:
data_frame

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status
0,4200,4200,4125.000000,36 months,12.53,140.56,B,B5,dominos,2 years,RENT,30000,Not Verified,9-Dec,Fully Paid
1,15000,15000,14976.421820,36 months,14.96,519.70,D,D2,Abbott Laboratories,2 years,MORTGAGE,96000,Verified,10-Feb,Fully Paid
2,8000,8000,7848.777026,60 months,11.12,174.42,B,B3,Allstate Insurance,10+ years,MORTGAGE,60000,Not Verified,10-Jun,Fully Paid
3,24000,24000,24000.000000,60 months,18.84,620.47,E,E2,Correctional Officer,10+ years,MORTGAGE,84996,Source Verified,15-May,Current
4,8000,8000,8000.000000,60 months,16.49,196.64,D,D3,Edwards Lifesciences,5 years,OWN,84875,Source Verified,11-Jun,Current
5,7500,7500,7475.000000,36 months,5.99,228.14,A,A2,UFCW Local 27,10+ years,OWN,50000,Not Verified,11-Aug,Fully Paid
7,35000,35000,35000.000000,36 months,14.30,1201.33,C,C1,1,4 years,RENT,150000,Verified,13-Dec,Fully Paid
9,3500,3500,3500.000000,36 months,6.03,106.53,A,A1,ABHOW,< 1 year,RENT,35000,Not Verified,12-Nov,Fully Paid
10,20000,20000,19950.000000,60 months,17.77,505.37,D,D1,graham-windham,9 years,RENT,81000,Verified,13-Jan,Fully Paid

##### 迭代器

In [220]:
iter = data_frame.iteritems()
for i in data_frame:
    print(i)  #输出所有列|名（第一行）

loan_amnt
funded_amnt
funded_amnt_inv
term
int_rate
installment
grade
sub_grade
emp_title
emp_length
home_ownership
annual_inc
verification_status
issue_d
loan_status

In [221]:
for i in iter:
    print("test",i)  #按列输出所有元素

test ('loan_amnt', 0      4200
1     15000
2      8000
3     24000
4      8000
5      7500
7     35000
9      3500
10    20000
Name: loan_amnt, dtype: int64)
test ('funded_amnt', 0      4200
1     15000
2      8000
3     24000
4      8000
5      7500
7     35000
9      3500
10    20000
Name: funded_amnt, dtype: int64)
test ('funded_amnt_inv', 0      4125.000000
1     14976.421820
2      7848.777026
3     24000.000000
4      8000.000000
5      7475.000000
7     35000.000000
9      3500.000000
10    19950.000000
Name: funded_amnt_inv, dtype: float64)
test ('term', 0      36 months
1      36 months
2      60 months
3      60 months
4      60 months
5      36 months
7      36 months
9      36 months
10     60 months
Name: term, dtype: object)
test ('int_rate', 0     12.53
1     14.96
2     11.12
3     18.84
4     16.49
5      5.99
7     14.30
9      6.03
10    17.77
Name: int_rate, dtype: float64)
test ('installment', 0      140.56
1      519.70
2      174.42
3      620.47
4      196.64
5      228.14
7     1201.33
9      106.53
10     505.37
Name: installment, dtype: float64)
test ('grade', 0     B
1     D
2     B
3     E
4     D
5     A
7     C
9     A
10    D
Name: grade, dtype: object)
test ('sub_grade', 0     B5
1     D2
2     B3
3     E2
4     D3
5     A2
7     C1
9     A1
10    D1
Name: sub_grade, dtype: object)
test ('emp_title', 0                  dominos
1      Abbott Laboratories
2       Allstate Insurance
3     Correctional Officer
4     Edwards Lifesciences
5            UFCW Local 27
7                        1
9                    ABHOW
10          graham-windham
Name: emp_title, dtype: object)
test ('emp_length', 0       2 years
1       2 years
2     10+ years
3     10+ years
4       5 years
5     10+ years
7       4 years
9      < 1 year
10      9 years
Name: emp_length, dtype: object)
test ('home_ownership', 0         RENT
1     MORTGAGE
2     MORTGAGE
3     MORTGAGE
4          OWN
5          OWN
7         RENT
9         RENT
10        RENT
Name: home_ownership, dtype: object)
test ('annual_inc', 0      30000
1      96000
2      60000
3      84996
4      84875
5      50000
7     150000
9      35000
10     81000
Name: annual_inc, dtype: int64)
test ('verification_status', 0        Not Verified
1            Verified
2        Not Verified
3     Source Verified
4     Source Verified
5        Not Verified
7            Verified
9        Not Verified
10           Verified
Name: verification_status, dtype: object)
test ('issue_d', 0      9-Dec
1     10-Feb
2     10-Jun
3     15-May
4     11-Jun
5     11-Aug
7     13-Dec
9     12-Nov
10    13-Jan
Name: issue_d, dtype: object)
test ('loan_status', 0     Fully Paid
1     Fully Paid
2     Fully Paid
3        Current
4        Current
5     Fully Paid
7     Fully Paid
9     Fully Paid
10    Fully Paid
Name: loan_status, dtype: object)

In [222]:
iter = data_frame.iterrows()
for i in iter:
    print("test:",i)  #按行输出

test: (0, loan_amnt                      4200
funded_amnt                    4200
funded_amnt_inv                4125
term                      36 months
int_rate                      12.53
installment                  140.56
grade                             B
sub_grade                        B5
emp_title                   dominos
emp_length                  2 years
home_ownership                 RENT
annual_inc                    30000
verification_status    Not Verified
issue_d                       9-Dec
loan_status              Fully Paid
Name: 0, dtype: object)
test: (1, loan_amnt                            15000
funded_amnt                          15000
funded_amnt_inv                    14976.4
term                             36 months
int_rate                             14.96
installment                          519.7
grade                                    D
sub_grade                               D2
emp_title              Abbott Laboratories
emp_length                         2 years
home_ownership                    MORTGAGE
annual_inc                           96000
verification_status               Verified
issue_d                             10-Feb
loan_status                     Fully Paid
Name: 1, dtype: object)
test: (2, loan_amnt                            8000
funded_amnt                          8000
funded_amnt_inv                   7848.78
term                            60 months
int_rate                            11.12
installment                        174.42
grade                                   B
sub_grade                              B3
emp_title              Allstate Insurance
emp_length                      10+ years
home_ownership                   MORTGAGE
annual_inc                          60000
verification_status          Not Verified
issue_d                            10-Jun
loan_status                    Fully Paid
Name: 2, dtype: object)
test: (3, loan_amnt                             24000
funded_amnt                           24000
funded_amnt_inv                       24000
term                              60 months
int_rate                              18.84
installment                          620.47
grade                                     E
sub_grade                                E2
emp_title              Correctional Officer
emp_length                        10+ years
home_ownership                     MORTGAGE
annual_inc                            84996
verification_status         Source Verified
issue_d                              15-May
loan_status                         Current
Name: 3, dtype: object)
test: (4, loan_amnt                              8000
funded_amnt                            8000
funded_amnt_inv                        8000
term                              60 months
int_rate                              16.49
installment                          196.64
grade                                     D
sub_grade                                D3
emp_title              Edwards Lifesciences
emp_length                          5 years
home_ownership                          OWN
annual_inc                            84875
verification_status         Source Verified
issue_d                              11-Jun
loan_status                         Current
Name: 4, dtype: object)
test: (5, loan_amnt                       7500
funded_amnt                     7500
funded_amnt_inv                 7475
term                       36 months
int_rate                        5.99
installment                   228.14
grade                              A
sub_grade                         A2
emp_title              UFCW Local 27
emp_length                 10+ years
home_ownership                   OWN
annual_inc                     50000
verification_status     Not Verified
issue_d                       11-Aug
loan_status               Fully Paid
Name: 5, dtype: object)
test: (7, loan_amnt                   35000
funded_amnt                 35000
funded_amnt_inv             35000
term                    36 months
int_rate                     14.3
installment               1201.33
grade                           C
sub_grade                      C1
emp_title                       1
emp_length                4 years
home_ownership               RENT
annual_inc                 150000
verification_status      Verified
issue_d                    13-Dec
loan_status            Fully Paid
Name: 7, dtype: object)
test: (9, loan_amnt                      3500
funded_amnt                    3500
funded_amnt_inv                3500
term                      36 months
int_rate                       6.03
installment                  106.53
grade                             A
sub_grade                        A1
emp_title                     ABHOW
emp_length                 < 1 year
home_ownership                 RENT
annual_inc                    35000
verification_status    Not Verified
issue_d                      12-Nov
loan_status              Fully Paid
Name: 9, dtype: object)
test: (10, loan_amnt                       20000
funded_amnt                     20000
funded_amnt_inv                 19950
term                        60 months
int_rate                        17.77
installment                    505.37
grade                               D
sub_grade                          D1
emp_title              graham-windham
emp_length                    9 years
home_ownership                   RENT
annual_inc                      81000
verification_status          Verified
issue_d                        13-Jan
loan_status                Fully Paid
Name: 10, dtype: object)

In [223]:
iter = data_frame.itertuples()
for i in iter:
    print(i)  #把每行当作一个元组，进行遍历

Pandas(Index=0, loan_amnt=4200, funded_amnt=4200, funded_amnt_inv=4125.0, term=' 36 months', int_rate=12.53, installment=140.56, grade='B', sub_grade='B5', emp_title='dominos', emp_length='2 years', home_ownership='RENT', annual_inc=30000, verification_status='Not Verified', issue_d='9-Dec', loan_status='Fully Paid')
Pandas(Index=1, loan_amnt=15000, funded_amnt=15000, funded_amnt_inv=14976.42182, term=' 36 months', int_rate=14.96, installment=519.7, grade='D', sub_grade='D2', emp_title='Abbott Laboratories', emp_length='2 years', home_ownership='MORTGAGE', annual_inc=96000, verification_status='Verified', issue_d='10-Feb', loan_status='Fully Paid')
Pandas(Index=2, loan_amnt=8000, funded_amnt=8000, funded_amnt_inv=7848.777026000001, term=' 60 months', int_rate=11.12, installment=174.42, grade='B', sub_grade='B3', emp_title='Allstate Insurance', emp_length='10+ years', home_ownership='MORTGAGE', annual_inc=60000, verification_status='Not Verified', issue_d='10-Jun', loan_status='Fully Paid')
Pandas(Index=3, loan_amnt=24000, funded_amnt=24000, funded_amnt_inv=24000.0, term=' 60 months', int_rate=18.84, installment=620.47, grade='E', sub_grade='E2', emp_title='Correctional Officer', emp_length='10+ years', home_ownership='MORTGAGE', annual_inc=84996, verification_status='Source Verified', issue_d='15-May', loan_status='Current')
Pandas(Index=4, loan_amnt=8000, funded_amnt=8000, funded_amnt_inv=8000.0, term=' 60 months', int_rate=16.49, installment=196.64, grade='D', sub_grade='D3', emp_title='Edwards Lifesciences', emp_length='5 years', home_ownership='OWN', annual_inc=84875, verification_status='Source Verified', issue_d='11-Jun', loan_status='Current')
Pandas(Index=5, loan_amnt=7500, funded_amnt=7500, funded_amnt_inv=7475.0, term=' 36 months', int_rate=5.99, installment=228.14, grade='A', sub_grade='A2', emp_title='UFCW Local 27', emp_length='10+ years', home_ownership='OWN', annual_inc=50000, verification_status='Not Verified', issue_d='11-Aug', loan_status='Fully Paid')
Pandas(Index=7, loan_amnt=35000, funded_amnt=35000, funded_amnt_inv=35000.0, term=' 36 months', int_rate=14.3, installment=1201.33, grade='C', sub_grade='C1', emp_title=1, emp_length='4 years', home_ownership='RENT', annual_inc=150000, verification_status='Verified', issue_d='13-Dec', loan_status='Fully Paid')
Pandas(Index=9, loan_amnt=3500, funded_amnt=3500, funded_amnt_inv=3500.0, term=' 36 months', int_rate=6.03, installment=106.53, grade='A', sub_grade='A1', emp_title='ABHOW', emp_length='< 1 year', home_ownership='RENT', annual_inc=35000, verification_status='Not Verified', issue_d='12-Nov', loan_status='Fully Paid')
Pandas(Index=10, loan_amnt=20000, funded_amnt=20000, funded_amnt_inv=19950.0, term=' 60 months', int_rate=17.77, installment=505.37, grade='D', sub_grade='D1', emp_title='graham-windham', emp_length='9 years', home_ownership='RENT', annual_inc=81000, verification_status='Verified', issue_d='13-Jan', loan_status='Fully Paid')

## numpy

In [208]:
#注意(5,)和(1,5)的区别，还有就是[5,1]和[1,5]的区别
array = np.array([1,2,3,4,5],dtype="float")
print(array.shape)
print(array)
array = array.reshape([5,1])
print(array)
array = array.reshape([1,5])
print(array)
print(array.shape)

(5,)
[1. 2. 3. 4. 5.]
[[1.]
 [2.]
 [3.]
 [4.]
 [5.]]
[[1. 2. 3. 4. 5.]]
(1, 5)

##### 删除

In [226]:
a = np.delete(array,3,axis=1) #删除第三列

In [236]:
print(a)

[[1. 2. 3. 5.]]

In [232]:
y = [temp*2 for temp in a]  #对每个元素操作，然后装入list中
print(y)

[array([ 2.,  4.,  6., 10.])]

## random

In [237]:
import random

In [242]:
array = array.reshape((5,))
test = random.sample(list(array),3) #从array中随机选取出3个
print(test)

[3.0, 4.0, 2.0]

## Pickle(对象持久化)

In [257]:
import pickle

In [258]:
test_dict={"wang":1,"tian":2,"rui":3}
f = open("../datas/csvTest/pickletest.txt","wb")

In [261]:
pickle.dump(test_dict,f)
f.close()

In [262]:
f = open("../datas/csvTest/pickletest.txt","rb")
read_dict = pickle.load(f)
print(read_dict)

{'tian': 2, 'rui': 3, 'wang': 1}